<div class="proposal-wrap">
  <h1>Proposa ID{{proposal?.proposalId}}</h1>
  <section>
    <form autocomplete="off" [formGroup]="editForm" (ngSubmit)="onSave()">
      <mat-card class="proposal-card-column-one">
        <mat-card-content>
          <!--Proposed By-->
          <mat-chip-list #asigneesList class="work-assigned-chip-list">
            <mat-chip *ngFor="let w of proposedByArr"
                      color="primary" selected>
              {{w.displayName}}
              <mat-icon (click)="onRemove(w)">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <mat-form-field appearance="outline">
            <mat-select
              #pa
              formControlName="proposedBy"
              multiple>
              <mat-option *ngFor="let prs of coordinators | orderBy: order"
                          [value]="prs.personId">{{prs.sortName}}</mat-option>
            </mat-select>
            <mat-label>Proposed By: {{pa.value}} </mat-label>
          </mat-form-field>
          <!--Proposal Date-->
          <mat-form-field appearance="outline">
            <input
              #propDate
              matInput
              formControlName="proposalDate"
              [matDatepicker]="picker"
              placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <label>Proposal Date</label>
          </mat-form-field>
          <!--Proposed Hours-->
          <fieldset class="proposed-hours">
            <legend>Proposed Hours</legend>
            <mat-form-field >
              <input
                #min
                matInput
                formControlName="minimumProposedHours"
                type="number">
              <mat-label>Min</mat-label>
            </mat-form-field>
            <mat-form-field >
              <input
                #max
                matInput
                formControlName="maximumProposedHours"
                type="number">
              <mat-label>Max:</mat-label>
            </mat-form-field>
          </fieldset>
        </mat-card-content>
      </mat-card>
      <mat-card class="proposal-card-column-two">
        <mat-card-content>
          <!--Exam Location-->
          <mat-form-field appearance="outline">
            <mat-select
              #examLocation
              formControlName="examLocationId"
              required>
              <mat-option
                *ngFor="let rp of locations[0].Locations"
                [value]="rp.locationId">
                {{rp.location}}
              </mat-option>
            </mat-select>
            <mat-label> Exam Location {{examLocation.value}}</mat-label>
          </mat-form-field>
          <!--Exam Date-->
          <mat-form-field appearance="outline">
            <input
              #exam
              matInput
              formControlName="examDate"
              [matDatepicker]="exam"
              [value]="exam"
              placeholder="select..">
            <mat-datepicker-toggle matSuffix [for]="exam"></mat-datepicker-toggle>
            <mat-datepicker #exam></mat-datepicker>
            <label>Exam Date</label>
          </mat-form-field>
          <fieldset>
            <legend>Dimensions</legend>
            <mat-form-field >
              <mat-select
                #unit
                formControlName="dimensionUnit"
              >
                <mat-option value="in">Inches</mat-option>
                <mat-option value="cm" >Cm</mat-option>
              </mat-select>
              <mat-label>Unit {{unit.value}}</mat-label>
            </mat-form-field>
            <mat-form-field >
              <input
                #height
                matInput
                formControlName="height"
                placeholder="Height"
                type="number"
              >
              <mat-label> Height</mat-label>
              <span matSuffix>.00</span>
            </mat-form-field>
            <mat-form-field >
              <input
                #width
                matInput
                formControlName="width"
                placeholder="Width"
                type="number"
              >
              <mat-label>Width</mat-label>
              <span matSuffix>.00</span>
            </mat-form-field>
            <mat-form-field>
              <input
                #thick
                matInput
                formControlName="thickness"
                placeholder="Thickness"
                type="number"
              >
              <mat-label> Thickness</mat-label>
              <span matSuffix>.00</span>
            </mat-form-field>
          </fieldset>
        </mat-card-content>
      </mat-card>
      <mat-card class="proposal-card-column-three">
        <mat-card-content fxLayout="column" fxFlexAlign="center" fxLayoutGap="10px">
          <mat-form-field appearance="outline">
            <textarea
              #description
              formControlName="description"
              matInput
              placeholder="Description of the bound manuscript"></textarea>
            <mat-label> Description</mat-label>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <textarea
              #condition
              formControlName="condition"
              matInput
              placeholder="Conditions of the bound manuscript"></textarea>
            <mat-label> Condition</mat-label>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <textarea
              #treatment
              formControlName="treatment"
              matInput
              placeholder="proposed treatment"></textarea>
            <mat-label>Treatment</mat-label>
          </mat-form-field>
        </mat-card-content>
        <mat-action-row>
          <button mat-flat-button type="submit" color="primary">Save Changes</button>
        </mat-action-row>
      </mat-card>
    </form>
  </section>
</div>
