mat-panel-description {
  //background-color: green;
  text-align: right;
  max-width: 75px;
}
.record-osw-detail {
  p {
    font-size: 0.9em;
    text-align: left;
    line-height: 90%;
  }
  table {
    //background-color: pink;
    width: 100%;
    font-size: 0.9em;
    text-align: left;
    line-height: 90%;
    tr {
      border-bottom: 2px solid black;
    }
  }
}
