<div class="location-create-new">
  <mat-expansion-panel #panelForm>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span *ngIf="!formatName.value">
          add new format
        </span>
        <span *ngIf="formatName.value">
          {{formatName.value | uppercase}}
        </span>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form #f="ngForm" (ngSubmit)="onCreate(f)">
      <div class="list-form-wrap">
        <mat-form-field >
                <textarea matInput
                          #formatName
                          name ="formatName"
                          ngModel
                          placeholder="Format Name"
                          required
                ></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 placeholder="Rank"
                 name = "formatRank"
                 ngModel
          >
        </mat-form-field>
      </div>
      <mat-action-row>
        <button mat-button color="basic" type="button" (click)="onCancel(f)">Cancel</button>
        <button mat-button color="primary" type="submit">Save</button>
      </mat-action-row>
    </form>
  </mat-expansion-panel>
</div>
<mat-divider></mat-divider>
<div class="list-wrap">
  <mat-expansion-panel *ngFor="let l of formats$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title >
        {{ l?.format}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form #lf="ngForm" (ngSubmit)="onUpdateFormat(lf, l.formatId)">
      <div class="list-form-wrap">
        <mat-form-field>
          <input matInput
                 name="formatName"
                 [ngModel]="l?.format"
                 placeholder="Format Name"
          >
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 placeholder="rank"
                 name="formatRank"
                 [ngModel]="l?.rank"
          >
        </mat-form-field>
        <mat-slide-toggle class="list-form-location-status" labelPosition="before"
                          #formatStatus name="formatInactive" [(ngModel)]="l.inactive" color="primary">
          Current Status
          <span *ngIf="formatStatus.checked" class="location-status-label inactive">(Inactive)</span>
          <span *ngIf="!formatStatus.checked" class="location-status-label active">(Active)</span>
        </mat-slide-toggle>
      </div>
      <mat-action-row>
        <button mat-button color="warn" type="button" (click)="onDelete(l.formatId)">
          Delete
          <!--<mat-icon>delete_outlined</mat-icon>-->
        </button>
        <button mat-button color="primary" type="submit">
          Save
          <!--<mat-icon>save</mat-icon>-->
        </button>
      </mat-action-row>
    </form>
  </mat-expansion-panel>
  <!--</mat-accordion>-->
</div>

