mat-expansion-panel {
  margin: 0;
  padding: 0;
}
.email-wrap-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  mat-form-field {
    width: 100%;
  }
  .section-email {
    flex: 1;
  }
  .section-comment {
    flex: 2;
    margin-left: 40px;
    mat-form-field {
      textarea {
        height: 165px;
      }
    }
    min-height: 100%;
  }
}
