:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
mat-form-field {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

mat-card {
  margin: 5px;
}
.card-column-two {
  //max-height: 300px;
}
.chargeto-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  mat-radio-group {
    max-width: 80px;
    //background-color: pink;
    mat-radio-button {
      margin-bottom: 3px;
    }
  }
  .chargeto-field {
    min-width: 50px;
  }
}

.card-record-title {
  text-align: center;
  mat-form-field {
    max-width: 300px;
    margin: 5px auto;
  }
}
.cards-wrapper {
  display: flex;
  max-width: 1000px;
  margin: 5px auto;
  > * {
    flex: 1 1 300px;
    min-width: 150px;
  }
}
.card-column-one {
  max-width: 350px;
}
.call-numbers-chip-list {
  mat-chip {
    font-size: 0.9em;
    padding-top: 0;
    padding-bottom: 0;
  }

}
.submit-mat-card {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.hollis-div {
  display: flex;
  margin-top: 15px;
  mat-form-field {
    min-width: 30px;
  }
  .hollis-small {
    color: white;
  }
  .hollis-link {
    margin-right: 3px;
  }
}
.record-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  max-width: 100%;
  font-size: 0.9em;
  label {
    margin-right: 10px;
  }
  mat-form-field {
    min-width: 30px;
  }
}
.record-items > mat-form-field:nth-of-type(1) {
  max-width: 50px;
  margin-right: 10px;
}

.osw-calendar-wrap {
  width: 100%;
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
  mat-form-field {
    //max-width: 150px;
    margin: 5px;
    min-width: 50px;
    max-width: 130px;
  }
> * {
  flex: 1 1 auto;
}
}
.work-description-div {
  margin-top: 25px;
}
