<div class="proposal-header-div">
  <h1>Proposals</h1>
</div>
<mat-tab-group>
  <mat-tab label="Not Submitted">

    <mat-accordion class="proposal-submit-acc" multi="true">
      <ng-container *ngFor="let p of notsubmitted;">
        <app-email [p]="p" [tosubmit]="showSubmit"></app-email>
        <app-proposal-submit [proposal] = p>
          <a mat-button color="primary" [routerLink]="['/app/proposals/', p.proposalId]">Edit</a>
          <a mat-button color="primary" type="submit" (click)="onSave(f, p)">Submit</a>
          <button mat-button color="warn" (click)="onDelete(p.proposalId)">Delete</button>
        </app-proposal-submit>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="Submitted">
    <mat-accordion *ngFor="let p of submitted" multi="true">
      <app-email [p]="p" [tosubmit]="!showSubmit"></app-email>
      <app-proposal-content [proposal] = p></app-proposal-content>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="Approved">
    <mat-accordion>
      <app-proposal-content
        *ngFor="let p of approved"
        [proposal] = p
      >
        <button mat-button color="warn">Delete</button>
        <button mat-button color="primary">Comment</button>
      </app-proposal-content>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="Other">
    <mat-accordion>
      <app-proposal-content
        *ngFor="let p of other"
        [proposal] = p
      ></app-proposal-content>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>
